.home-container {
  display: flex;
  flex-direction: row;
}
.home-content {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.home-heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 50px;
  margin: 20px;
}
.home-description {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 16px;
  margin: 20px;
}
.shop-now-button {
  background-color: #0967d2;
  color: white;
  margin: 20px;
  height: 40px;
  width: 200px;
  border: none;
  border-radius: 10px;
}
.home-mobile-img {
  width: 45%;
  height: 90%;
}
